.bg{

    height: 20hv;
    width: 100%;
    background-color: #555;
    background-image:( "https://th.bing.com/th/id/R.de8434a5c16a7b24213fc8d21a0de6e8?rik=gkNHYb4wGIu3yw&pid=ImgRaw&r=0");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   /* background-attachment: fixed;*/
}
table,td,th{
    border: 1px solid black;
}
table{
    font-size: 2.4rem;
    border-collapse: collapse;
    padding: 2px;
}
table tr:first-child {
    background-color: blue;
    color: #fff;
}
table tr:nth-child(2n+3){
    background-color: #5555;
  
}
h1{
  /*  display: none;
    visibility: hidden;*/
    opacity: 1;
}
img{
    clear: both;
    height: 10rem;
    width: 14rem;
    object-fit: cover;
}
[data-button="products"]{
    background-color:steelblue;
    color:  #fff;
    border: none;
    font-size: 2.8rem;
    padding: 0.6rem 2.4rem;
    cursor: pointer;
    margin: auto;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all .2s ease-in-out, background-color 1s ease-in-out;
    display: block;


    
}
[data-button="products"]:hover{
    transform: scale(1.2);
    background-color: aqua;
    color: #AAA;
}
[data-button="team"]{ 
    background-color:steelblue;
    color:  #fff;
    border: none;
    font-size: 2.8rem;
    padding: 0.6rem 2.4rem;
    cursor: pointer;
    margin: auto;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-fill-mode: forwards;
    animation-duration: alternate;

    margin: 2rem;
    animation: pulse 2s infinite;
    transition: scale(1);

    
}
@keyframes pulse{
    0%{
        transition: scale(1);
        opacity: 1;
    }
    100%{
        transition: scale(1.5);
        opacity: .6;
    }

  
}
[data-button="team"]:hover{
  

}
.spinner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.fa-spinner{
    margin-top: 3rem;
    margin: 4rem;
    font-size: 5rem;
    color: blueviolet;
    animation: load 1s infinite;
}
@keyframes load{
    0%{
        transition: rotatez(0deg);
    }
    100%{
        transform: rotatez(360deg);
    }
}
#companies-table{

}
[data-company]{
    background-color: aquamarine;
}
@media screen and (min-width:1000px) {
.bg{
    height: 40vh;
}
}
@media screen and (min-width: 767px) and (max-width: 999) {
    .bg{
        height: 80vh;
    }
   
}
 @media screen and  (max-width: 766) {
     /*   table{
            display: none;
        
        }
        h1{
            color: red;
        } */
    }
   

@media print{
.bg{
    display: none;
}
}